<% if @car_categories.blank? %>
  <h1><%= t('.blank_car_categories')%></h1>
<% end %>

<%= render @car_categories %>

<h4><%= link_to t('.new_car_category'), new_car_category_path %></h4>

<h2><%=link_to t('.back'), root_path%></h2>