<% if @manufacturers.blank? %>
  <h1>Nenhum fabricante cadastrado</h1>
<% end %>

<%= render @manufacturers %>

<%=link_to 'Registrar novo fabricante', new_manufacturer_path%>

<%=link_to 'Voltar', root_path%>


