<% if @manufacturers.blank? %>
  <h1>Nenhum fabricante cadastrado</h1>
<% end %>

<h2><%= render @manufacturers %></h2>

<h2><%=link_to 'Registrar novo fabricante', new_manufacturer_path%></h2>

<h2><%=link_to 'Voltar', root_path%></h2>


