<h1><%= @manufacturer.name %></h1>

<h3><%=link_to 'Voltar', manufacturers_path%></h3>

<h3><%=link_to 'Editar', edit_manufacturer_path(@manufacturer)%></h3>

<h3><%=link_to 'Apagar fabricante', @manufacturer, method: :delete%></h3>



