<h1><%= @manufacturer.name %></h1>

<h1><%=link_to 'Voltar', manufacturers_path%></h1>

<h1><%=link_to 'Editar', edit_manufacturer_path(@manufacturer)%></h1>

<h1><%=link_to 'Apagar fabricante', @manufacturer, method: :delete%></h1>



